facenet-pytorch===2.5.2
streamlink===4.2.0
opencv-python===4.6.0.66
mmcv===1.6.0
model-archiver===1.0.3
torchserve===0.6.0
nvgpu===0.9.0
torch>=1.7.0,!=1.12.0
torchvision>=0.8.1,!=0.13.0
tqdm>=4.41.0
protobuf<4.21.3